{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{questionary.name}}{% endblock %}
{%block background %}{% static 'core/img/model-bg.jpg' %}{%endblock%}
{%block headers %}
<h1>Cuestionario</h1>
<span class="subheading">{{questionary.name}}</span>
{%endblock%}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        <div>
          {% if 'ok' in request.GET %}
            <p style="color:green;">
              Sección 3 guardada correctamente. 
             <!-- <a href="#">Haz clic aquí para ver el resultado</a>.-->
            </p>
          {% endif %}
          <form action="" method="post">{% csrf_token %}  
              <div style="display: none">  {{ form.as_table}} </div>
              <!--INICIO DE TABLA DE CUESTIONARIO-->
              <style type="text/css">
                .tg  {border-collapse:collapse;border-spacing:0;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                .tg .tg-266k{background-color:#9b9b9b;border-color:inherit;text-align:left;vertical-align:top}
                .tg .tg-llyw{background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}
                .tg .tg-9u2q{background-color:#9b9b9b;border-color:inherit;text-align:center;vertical-align:top}
                .tg .tg-6e8n{font-weight:bold;background-color:#c0c0c0;border-color:inherit;text-align:left;vertical-align:top}
                .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
                .tg .tg-pu0z{font-weight:bold;background-color:#9b9b9b;border-color:inherit;text-align:left;vertical-align:top}
                .tg .tg-0lax{text-align:left;vertical-align:top}
                </style>
                <table class="tg">
                  <tr>
                    <th class="tg-9u2q" colspan="5"><span style="font-weight:bold">SECCIÓN 4 </span><br><span style="font-weight:bold">WORK AND MANAGEMENT (WAM)</span></th>
                  </tr>
                  <tr>
                    <td class="tg-266k" colspan="5"><span style="font-weight:bold">Nivel 1 - INICIAL</span></td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br><br>1.1</td>
                    <td class="tg-6e8n">Tiene un caso de negocio aprobado a nivel funcional para las mejoras en la gestión de los recursos laborales y activos vía SG?</td>
                    <td class="tg-6e8n"> Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos. </td>
                    <td class="tg-llyw">{{ form.wam_11_act }}</td>
                    <td class="tg-llyw">{{ form.wam_11_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_11_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En desarrollo</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">Aprobado</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Aprobado y en ejecución</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br><br>1.2<br></td>
                    <td class="tg-6e8n">Está evaluando usos potenciales de supervisión remota de activos?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_12_act }}</td>
                    <td class="tg-llyw">{{ form.wam_12_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_12_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En un plan documentado que incluye cronogramas y presupuestos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">En progreso</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Finalizado</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>1.3</td>
                    <td class="tg-6e8n">Está evaluando o ha evaluado equipos y sistemas para la gestión de los recursos laborales y activos para enfocarlos hacia la visión SG?</td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_13_act }}</td>
                    <td class="tg-llyw">{{ form.wam_13_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_13_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">Sí, pero no enfocado hacia la visión SG</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">Sí, enfocado hacia la visión SG</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Sí, y enfocado con los casos de negocio SG</td>
                  </tr>
                  <tr>
                    <td class="tg-pu0z" colspan="5">Nivel 2 - HABILITADO</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>2.1</td>
                    <td class="tg-6e8n">Ha definido una forma de rastrear, llevar inventarios y preservar un historial de eventos de los activos utilizando capacidades SG?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_21_act }}</td>
                    <td class="tg-llyw">{{ form.wam_21_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_21_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En un plan documentado que incluye cronogramas y presupuestos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">En desarrollo</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">En prueba</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">Finalizado</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>2.2</td>
                    <td class="tg-6e8n">Ha desarrollado una visión integrada de GIS para la supervisión de activos con base en su localización, estado e interconectividad (nodal)?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_22_act }}</td>
                    <td class="tg-llyw">{{ form.wam_22_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_22_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En un plan documentado que incluye cronogramas y presupuestos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">En desarrollo</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">En prueba</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">Finalizado</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>2.3</td>
                    <td class="tg-6e8n">Se ha desarrollado una estrategia para los recursos móviles de forma que impacte de manera integral en la organización?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_23_act }}</td>
                    <td class="tg-llyw">{{ form.wam_23_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_23_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En un plan documentado que incluye cronogramas y presupuestos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">Se está desarrollando una estrategia</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Se ha finalizado la estrategia</td>
                  </tr>
                  <tr>
                    <td class="tg-pu0z" colspan="5">Nivel 3 - INTEGRACIÓN</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>3.1</td>
                    <td class="tg-6e8n">Qué porcentaje de componentes individuales en sus sistemas físicos e informáticos tienen datos disponibles de rendimiento, análisis de tendencias y control de eventos?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_31_act }}</td>
                    <td class="tg-llyw">{{ form.wam_31_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_31_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">0%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">1% - 25%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">26% - 50%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">51% - 75%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">76% - 100%</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>3.2</td>
                    <td class="tg-6e8n">Para qué porcentaje de componentes claves ha implementado un plan de mantenimiento, que guíe las decisiones de mantenimiento y reemplazo,  basado en datos en tiempo-real que provienen de un sistema de supervisión de activos?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_32_act }}</td>
                    <td class="tg-llyw">{{ form.wam_32_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_32_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">0%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">1% - 25%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">26% - 50%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">51% - 75%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">76% - 100%</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>3.3</td>
                    <td class="tg-6e8n">Ha integrado la supervisión remota de activos con el sistema de gestión de activos?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_33_act }}</td>
                    <td class="tg-llyw">{{ form.wam_33_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_33_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En un plan  documentado que incluye cronogramas y presupuestos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">En desarrollo</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Finalizado para una o más clases de activos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">Finalizado (&gt;80% de las clases de activos)</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>3.4</td>
                    <td class="tg-6e8n">Ha integrado capacidades de supervisión remota de activos con recursos laborales móviles para automatizar la creación de órdenes de trabajo?</td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_34_act }}</td>
                    <td class="tg-llyw">{{ form.wam_34_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_34_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En un plan documentado que incluye cronogramas y presupuestos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">En desarrollo</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Finalizado para una o más clases de activos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">Finalizado (&gt;80% de las clases de activos)</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>3.5</td>
                    <td class="tg-6e8n">Ha implementado una visión integrada de GIS y supervisión de activos basados en localización, estado e interconectividad?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_35_act }}</td>
                    <td class="tg-llyw">{{ form.wam_35_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_35_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En un plan documentado que incluye cronogramas y presupuestos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">En desarrollo</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Finalizado para una o más clases de activos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">Finalizado (&gt;80% de las clases de activos)</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>3.6</td>
                    <td class="tg-6e8n">Qué porcentaje de su inventario de activos tiene un proceso de seguimiento utilizando algún nivel de automatización desde la fuente hasta el punto de utilización (ej: desde el proveedor hasta el lugar de instalación)?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_36_act }}</td>
                    <td class="tg-llyw">{{ form.wam_36_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_36_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">0%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">1% - 25%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">26% - 50%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">51% - 75%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">76% - 100%</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>3.7</td>
                    <td class="tg-6e8n">Se está construyendo un modelo de inversión en activos para componentes claves basados en datos SG?</td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_37_act }}</td>
                    <td class="tg-llyw">{{ form.wam_37_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_37_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">En un plan documentado que incluye cronogramas y presupuestos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">En desarrollo</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Finalizado para una o más clases de activos</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">Finalizado (&gt;80% de las clases de activos)</td>
                  </tr>
                  <tr>
                    <td class="tg-pu0z" colspan="5">Nivel 4- OPTIMIZACIÓN</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>4.1</td>
                    <td class="tg-6e8n">Qué porcentaje de los diferentes tipos de recursos y activos tienen una observabilidad completa (incluyendo localización e interrelaciones) basado en el conocimiento de su estado (incluyendo estado de seguridad), conectividad y proximidad?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_41_act }}</td>
                    <td class="tg-llyw">{{ form.wam_41_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_41_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">0%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">1% - 25%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">26% - 50%</td>
                  </tr>
                  <tr>
                    <td class="tg-0lax">D</td>
                    <td class="tg-0lax" colspan="4">51% - 75%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">76% - 100%</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>4.2</td>
                    <td class="tg-6e8n">Qué porcentaje de sus modelos de activos (análisis financiero y ciclo de vida) están basados en datos provenientes del sistema de supervisión SG y rendimiento reales (histórico y actual)?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_42_act }}</td>
                    <td class="tg-llyw">{{ form.wam_42_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_42_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">0%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">1% - 25%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">26% - 50%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">51% - 75%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">76% - 100%</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>4.3</td>
                    <td class="tg-6e8n">Está optimizando el desempeño y uso de los activos (desde su adquisición hasta darle de baja) considerando las diferentes categorías de activos?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_43_act }}</td>
                    <td class="tg-llyw">{{ form.wam_43_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_43_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">0%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">1% - 25%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">26% - 50%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">51% - 75%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">76% - 100%</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>4.4</td>
                    <td class="tg-6e8n">Realiza mantenimiento predictivo y basado en condiciones para los componentes claves del sistema?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_44_act }}</td>
                    <td class="tg-llyw">{{ form.wam_44_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_44_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">0%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">1% - 25%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">26% - 50%</td>
                  </tr>
                  <tr>
                    <td class="tg-0lax">D</td>
                    <td class="tg-0lax" colspan="4">51% - 75%</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">76% - 100%</td>
                  </tr>
                  <tr>
                    <td class="tg-266k" colspan="5"><span style="font-weight:bold">Nivel 5 - LÍDER</span></td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>5.1</td>
                    <td class="tg-6e8n">Está optimizando el uso de los activos entre y a través de los participantes de la cadena de suministro?<br></td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_51_act }}</td>
                    <td class="tg-llyw">{{ form.wam_51_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_51_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">Muy pocos (&lt;10% de las clases de activos o asociados</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">Algunos (10% - 49%)</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Muchos (50% - 80%)</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">E</td>
                    <td class="tg-0pky" colspan="4">Sí (&gt;80%)</td>
                  </tr>
                  <tr>
                    <td class="tg-6e8n" rowspan="2"><br>5.2</td>
                    <td class="tg-6e8n">Sus activos son utilizados al máximo, incluyendo la dada de baja de los activos en el momento oportuno, basado en datos y sistemas SG?</td>
                    <td class="tg-6e8n">Actual</td>
                    <td class="tg-6e8n">{{questionary.plan1}}</td>
                    <td class="tg-6e8n">{{questionary.plan2}}</td>
                  </tr>
                  <tr>
                    <td class="tg-llyw">Seleccione a la derecha la opción que mejor se adapta su situación actual, horizonte de planeación uno y horizonte de planeación dos.</td>
                    <td class="tg-llyw">{{ form.wam_52_act }}</td>
                    <td class="tg-llyw">{{ form.wam_52_p1 }}</td>
                    <td class="tg-llyw">{{ form.wam_52_p2 }}</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">A</td>
                    <td class="tg-0pky" colspan="4">No</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">B</td>
                    <td class="tg-0pky" colspan="4">Muy pocos (&lt;10% de las clases de activos o asociados</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">C</td>
                    <td class="tg-0pky" colspan="4">Algunos (10% - 49%)</td>
                  </tr>
                  <tr>
                    <td class="tg-0pky">D</td>
                    <td class="tg-0pky" colspan="4">Muchos (50% - 80%)</td>
                  </tr>
                  <tr>
                    <td class="tg-0lax">E</td>
                    <td class="tg-0lax" colspan="4">Sí (&gt;80%)</td>
                  </tr>
                </table>
              <!-- FIN DE TABLA DE CUESTIONARIO  -->
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-block" value="Siguiente Sección" />
            </div>
           </form>
        </div>
      </div>
    </div>
  </div>
</main>
<hr>
{% endblock %}